-- Migration: Add case_id to comments table
-- Date: 2025-01-08
-- Description: Adds case_id foreign key to comments table for case-specific comments

-- Drop the foreign key constraint on user_id if it exists
ALTER TABLE comments DROP CONSTRAINT IF EXISTS comments_user_id_fkey;

-- Make user_id just a UUID without foreign key constraint (since auth.users is separate from public.users)
ALTER TABLE comments ALTER COLUMN user_id DROP NOT NULL;

-- Add case_id column if it doesn't exist
ALTER TABLE comments ADD COLUMN IF NOT EXISTS case_id UUID REFERENCES cases(id) ON DELETE CASCADE;

-- Create index on case_id for faster queries
CREATE INDEX IF NOT EXISTS idx_comments_case_id ON comments(case_id);

-- Enable RLS if not already enabled
ALTER TABLE comments ENABLE ROW LEVEL SECURITY;

-- Drop existing policies if they exist
DROP POLICY IF EXISTS "Authenticated users can view comments" ON comments;
DROP POLICY IF EXISTS "Authenticated users can insert comments" ON comments;
DROP POLICY IF EXISTS "Authenticated users can delete their own comments" ON comments;

-- RLS Policies
CREATE POLICY "Authenticated users can view comments"
ON comments FOR SELECT
TO authenticated
USING (true);

CREATE POLICY "Authenticated users can insert comments"
ON comments FOR INSERT
TO authenticated
WITH CHECK (true);

CREATE POLICY "Authenticated users can delete their own comments"
ON comments FOR DELETE
TO authenticated
USING (auth.uid() = user_id);

-- Comments
COMMENT ON COLUMN comments.case_id IS 'Foreign key to cases table';
COMMENT ON COLUMN comments.user_id IS 'User ID from auth.users (no FK constraint)';
